*{
    margin: 0%;
    padding: 0%;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    position: fixed;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.noticias{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
}

.noticias:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.socios{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.socios:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.inicio:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.indumentaria{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.indumentaria:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.entradas{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.entradas:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
}

main{
    background-color: rgb(22, 56, 86);
}

h1{
    color: white;
    padding: 50px;
    padding-top: 100px;
    font-size: 30px;
}

.primeraparte{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 400px 400px 400px 400px;
    row-gap: 10px;
    column-gap: 10px;
    padding-left: 150px;
}

.uno{
    background-image: url(/IMAGENES/basquet1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/3;
    border: 1px solid white;
}

.uno p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    width: 300px;
    margin-top: 20px;
    padding: 2px;
}

.dos{
    width: 100%;
    margin: 5px;
}

.tres{
    width: 100%;
    margin: 5px;
}

.cuatro{
    width: 100%;
    margin: 5px;     
}

.cinco{
    width: 100%;
    margin: 5px;
}

.seis{
    background-image: url(/IMAGENES/fotobasquet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/5;
    grid-row: 2/4;
    border: 1px solid white;
}

.seis p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: black;
    width: 300px;
    margin-top: 50px;
    padding: 2px;
}

.siete{
    background-image: url(/IMAGENES/basquetfoto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.siete p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
    width: 200px;
    margin: 20px;
}

.ocho{
    width: 100%;
    margin: 5px;
}

.nueve{
    width: 100%;
    margin: 5px;
}

.dies{
    background-image: url(/IMAGENES/Basquetnuevo.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.dies p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
    margin-top: 200px;
    width: 200px;
}

.once{
    width: 100%;
    margin: 5px;
}

.doce{
    background-image: url(/IMAGENES/Basquetultima.png);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 4/6;
    border: 1px solid white
}

.doce p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    width: 200px;
    margin-top: 50px;
}

.segundaparte{
    display: flex;
    justify-content: center;
    padding: 50px;
}

footer{
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p:hover{
    color: rgb(148, 190, 31);
}

.foto3{
    width: 500px;
    border: 5px solid black;
}

.fixture{
    border: 1px solid black;
    padding: 4px;
    height: 20px;
    margin-top: 300px;
    margin-left: 100px;
}

.fixture:hover{
    background-color: black;
}

footer{
    height: 100px;
    border-top: 5px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.sitio{
    border: 1px solid black;
    padding: 5px;
    height: 25px;
    margin-top: 35px;
}

.sitio:hover{
    background-color: black;
}

.logobasquet{
    width: 100px;
    height: 100%;
    border-radius: 50px;
}

.logodos{
    height: 100%;
}