*{
    margin: 0%;
    padding: 0%;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    position: fixed;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.noticias{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
}

.noticias:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.socios{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.socios:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.basquet{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.basquet:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.indumentaria{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.indumentaria:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.inicio:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px; 
}

main{
    background-color: rgb(22, 56, 86);
}

.seccion1{
    padding-top: 100px;
    background-image: url(../IMAGENES/entrada1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.seccion1 p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 900px;
    width: 500px;
    background-color: black;
}

.textos{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.textos p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.seccion2{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
    margin-left: 350px;
}

.imagen1{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.imagen2{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.imagen3{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.imagen4{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.botones{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.asociate{
    background-color: rgb(235, 30, 42);
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px;
    width: 400px;
    height: 35px;
    padding-left: 170px;
}

.asociate:hover{
    background-color:white;
    color: rgb(235, 30, 42);
    border: 2px solid rgb(235, 30, 42) ;
}

.entradas{
    background-color: rgb(235, 30, 42);
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px;
    width: 400px;
    height: 35px;
    padding-left: 170px;
}

.entradas:hover{
    background-color:white;
    color: rgb(235, 30, 42);
    border: 2px solid rgb(235, 30, 42) ;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 30, 42);
    height: 150px;
    border-top: 5px solid white;
}

.wsp{
    margin: 20px;
}

.mail{
    margin: 40px;
}

footer p{
    color: white;
}

.mapa{
    width: 200px;
    height: 100%;
    margin-right: 20px;
}


