*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    position: fixed;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.noticias{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
}

.noticias:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.socios{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.socios:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.basquet{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.basquet:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.inicio:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.entradas{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.entradas:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
}

/* Grid*/

main{
    background-color: rgb(22, 56, 86);
}

.principal{
    display: flex;
}

.card-text{
    color: black;
}

.indumentaria{
    display: grid;   
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px 500px;
    column-gap: 10PX;
    row-gap: 10px;
}

.banner{
    margin-top: 100px;
    width: 100%;
    border: 1px solid white;
}

main div{
    margin: 20px;
}

.indumentaria div:hover{
    border: 3px solid black;
}

main div p{
    padding-left: 180px;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

main div p:hover{
    border-bottom: 5px solid black;
}

.titular1{
    background-image: url("../IMAGENES/titular1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.titular2{
    background-image: url("../IMAGENES/Nikeshort.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.suplente1{
    background-image: url("../IMAGENES/smplente1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.suplente2{
    background-image: url("../IMAGENES/nikeshort2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.retro1{
    background-image: url("../IMAGENES/retrocamiseta1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.retro2{
    background-image: url("../IMAGENES/Retropueba.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner2{
    border: 1px solid white;
}

footer{
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
    border-top: 4px solid white;
}

.logo2{
    margin: 20px;
    border: 1px solid black;
}


.bannertres{
    height: 100%;
    width: 400px;
    margin: 40px; 
}

.tienda{
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    border: 3px solid yellow;
    color: yellow;
    position: fixed;
    right: 15px;
    bottom: 15px;
}





