*{
    margin: 0%;
    padding: 0%;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    position: fixed;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
}

.inicio:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.socios{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.socios:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.basquet{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.basquet:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.indumentaria{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.indumentaria:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.entradas{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.entradas:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
}

main{
    background-color: rgb(22, 56, 86);  
    width: 100%;
    padding-top: 70px;
}

.noticias{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 50px;
    margin-left: 100px;
}

.uno{
    border: 3px solid black;
    background-image: url(../IMAGENES/cancha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.uno h1{
    margin-top: 300px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 50px;
}

.dos p{
    width: 100%;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.tres p{
    width: 100%;
    height: 100%;
    font-size: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.cuatro p{
    width: 100%;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.cinco{
    border: 3px solid black;
    background-image: url(../IMAGENES/noticia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cinco p{
    color: white;
    margin-top: 350px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.seis p{
    width: 100%;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.siete p{
    width: 100%;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.ocho p{
    width: 100%;
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.nueve{
    padding-top: 150px;
    padding-left: 120px;
}


.Otras{
    display: grid;
    grid-template-columns: 900px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    column-gap: 150px;
    row-gap: 3px;
    padding-left: 100px;
    padding-bottom: 150px;
    padding-top: 50px;
    border-top: 1px solid white;
}

.Segundanoticia1{
    grid-row: 1/5;
    background-image: url(../IMAGENES/SanlorenzoNoticias.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.Segundanoticia1 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(148, 190, 31);
}

.Segundanoticia1 a:hover{
    background-color: black;
}

.segundanoticia2{
    background-image: url(../IMAGENES/Segundasnoticias1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.segundanoticia2 h2{
    color: rgb(148, 190, 31);
}

.segundanoticia2 a{
    font-size: 15px;
    color: rgb(148, 190, 31);
    margin-top: 100px;
}

.segundanoticia2 a:hover{
    background-color: black;
}

.segundanoticia3{
    background-image: url(../IMAGENES/Segundasnoticias2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.segundanoticia3 a{
    font-size: 15px;
    color: rgb(148, 190, 31);
    margin-top: 150px;
}

.segundanoticia3 a:hover{
    background-color: black;
}

.segundanoticia4{
    background-image: url(../IMAGENES/segundasnoticias3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.segundanoticia4 a{
    font-size: 15px;
    color: rgb(148, 190, 31);
    margin-top: 150px;
}

.segundanoticia4 a:hover{
    background-color: black;
}

.segundanoticias5{
    background-image: url(../IMAGENES/segundasnoticias4.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.segundanoticias5 a{
    font-size: 15px;
    color: rgb(148, 190, 31);
    margin-top: 170px;
}

.segundanoticias5 a:hover{
    background-color: black;
}

.info{
    color: white;
    border: 1px solid white;
    padding: 5px;
}

footer{
    background-color: rgb(235, 30, 42);
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    border-top: 4px solid white ;
}

footer p{
    width: 300px;
    margin: 10px; 
    padding-top: 30px;
}

footer img{
    border: 2px solid black;
    border-radius: 20px;
    right: 70px;
    width: 100px;
    margin: 10px;
}

.chica{
    color: white;
    font-size: smaller;
    margin-top: 50px;
}

p:hover{
    color: rgb(148, 190, 31);
}

