*{
    margin: 0%;
    padding: 0%;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.noticias{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
    
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
    
}

.basquet{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.indumentaria{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.entradas{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.logo{
    width: 50px;
}

main{
    background-color: rgb(22, 56, 86);
}

.seccion-1{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-right: 100px;
}

h1{
    color: white;
    padding: 50px;
    font-size: 30px;    
}

.parrafo-1{
    color: white;
    padding: 50px;
    font-size: 20px;
    padding-top: 0px;
}

.seccion-1 nav{
    margin-right: 200px;
    margin-top: 200px;
}

.imagen1{
    border: 4px solid black;
    width: 600px;
}

.asociate{
    margin-right: 100px;
    background-color: rgb(235, 30, 42);
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px;
}

.beneficios{  
    background-color: rgb(235, 30, 42);
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px
}

.seccion-2{
    display: flex;
    margin-left: 200px;
}

.imagen2{
    width: 600px;
    margin: 50px;
    border: 4px solid black;
}

.texto2{
    color: white;
    margin: 50px;
    font-size: 30px;
    margin-top: 100px;
    width: 300px;
}


footer{
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    border-top: 4px solid white;
    display: flex;
    justify-content: space-between;
}

.texto3{
    color: white;
    font-size: 20px;
    margin: 50px;
    margin-top: 150px;
}

.mapa{
    width: 400px;
    height: 200px;
    padding: 50px;
}

a{
    color: white;
    text-decoration: none;
}

