*{
    margin: 0%;
    padding: 0%;
}

/*Flex*/

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid white;
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: fixed;
    width: 100%;
}

header nav {
    margin-top: 20px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-right: 0px;
}

.noticias{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86);    
}

.noticias:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.inicio{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.inicio:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.basquet{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.basquet:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.indumentaria{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.indumentaria:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.entradas{
    margin-right: 50px;
    padding: 10px;
    border-right: 3px solid white;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 10px;
    background-color: rgb(22, 56, 86)
}

.entradas:hover{
    background-color: rgb(3, 122, 163);
    border: 1px solid white;
}

.logo{
    width: 50px;
}

main{
    background-color: rgb(22, 56, 86);
}

.tribuna{
    background-image: url(../IMAGENES/Sociostribuna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.seccion-1{
    padding-top: 150px;
}

.parrafo-1{
    color: white;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    width: 900px;
    margin-left: 400px;
    padding-top: 50px;
}

.seccion-2{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    margin-left: 350px;
    margin-top: 100px;
    padding-bottom: 100px;
    column-gap: 50px;
    row-gap: 50px;
}

.uno{
    background-image: url(../IMAGENES/abonosocios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.uno p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 200px;
    margin: 10px;
}

.dos{
    background-image: url(../IMAGENES/socios3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;
}

.dos p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin-top: 300px;
    background-color: black;
}

.dos:active{
    background-image: url(../IMAGENES/socios4.jpg);
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
}

.tres{
    background-image: url(../IMAGENES/socios1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
}

.tres:active{
    background-image: url(../IMAGENES/socios5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
}

.tres p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    margin-top: 300px;
    background-color: black;
}

.cuatro{
    background-image: url(../IMAGENES/socios.hinchas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cuatro p{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100px;
    margin: 10px;
}

.botones{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.asociate{
    background-color: rgb(235, 30, 42);
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px;
    width: 400px;
    height: 35px;
    padding-left: 170px;
}

.asociate:hover{
    background-color:white;
    color: rgb(235, 30, 42);
    border: 2px solid rgb(235, 30, 42) ;
}

.beneficios{  
    background-color: rgb(235, 30, 42);
    border-radius: 15px;
    border: 2px solid white;
    padding: 2px;
    width: 400px;
    height: 35px;
    padding-left: 150px;
}

.beneficios:hover{
    background-color:white;
    color: rgb(235, 30, 42);
    border: 2px solid rgb(235, 30, 42) ;
}

footer{
    background-color: rgb(235, 30, 42);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    border-top: 4px solid white;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.texto3{
    color: white;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.mapa{
    width: 200px;
    height: 100%;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
}

